.media {
  overflow: hidden;
  background-color: #333;  
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:any-link {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top:0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

#presentacion {
  width: 100%;
  margin-top: 50px;
}

/*
#imagen {
  padding: 20px;
  float: left;
  width: 20%;
  position: relative;
  /*width: 300px;
    height: 300px;
    border-radius:150px;
    border:10px solid #666;
}
*/

#imagen {
  max-width: 100%;
  height: auto;
  border-radius:50%;
  border:10px solid #666;
}

#info {
  padding: 20px;
  float: left;
  width: 80%;
  position: relative;
}

.flex-container {
  margin: auto;
  padding: auto;
  display: flex;
  background-color: DodgerBlue;
}

/*.flex-container > div {
  background-color: #f1f1f1;
  margin: auto;
  padding: auto;
  font-size: 20px;
}*/


/* Use a media query to add a break point at 800px: 
@media screen and (max-width: 800px) {
  #imagen, #info{
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
*/
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  #imagen, #info {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
*/
#general{
  padding:20px;
  margin-top:40px;
}

#academia {
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
  background-color: darksalmon;
}

#cursos {
  padding: auto;
  margin: auto;
  
  width: 100%;
  background-color: aquamarine;
}

#experiencia {
  padding: auto;
  margin: auto;
  width: 100%;
  background-color: deepskyblue;
}

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
  }

 .texto {
    font-family: 'Oswald', sans-serif;
    margin: 1px;
    padding: 1px;
  }

#pie {
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  padding: auto;
  border: 0px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}